In [3]:
import pandas as pd
data = {'Name':['Amit', 'Nikita', 'Clara'],'Age':[10,20,30]}
df= pd.DataFrame(data)

In [6]:
df = pd.DataFrame(data, index=['rank1','rank2','rank3'])
df

         Name  Age
rank1    Amit   10
rank2  Nikita   20
rank3   Clara   30

In [13]:
#df.loc[inclusive:inclusive]
#df.iloc[inclusive:exclusive]

df.loc["rank1"]
df.loc["rank1":"rank3"]
df.loc["rank1":"rank3",["Name","Age"]]

df.iloc[0:2]
df.iloc[0:2,[0,1]]

         Name  Age
rank1    Amit   10
rank2  Nikita   20

In [16]:
#adding new column
df["address"]=["Mumbai","Pune","Mumbai"]
df

         Name  Age address
rank1    Amit   10  Mumbai
rank2  Nikita   20    Pune
rank3   Clara   30  Mumbai

In [18]:
df=df[["Name","address","Age"]]
df

#x1 x2 y x3 x4
#x1 x2 x3 x4 y

         Name address  Age
rank1    Amit  Mumbai   10
rank2  Nikita    Pune   20
rank3   Clara  Mumbai   30

In [25]:
df["Newcol1"]=7
df

df["Newcol2"]=[5,10,12]
print(df)

df["Revised_col"]=df["Newcol2"]*2
print(df)

df

         Name address  Age  Newcol1  Newcol2  Revised_col
rank1    Amit  Mumbai   10        7        5           10
rank2  Nikita    Pune   20        7       10           20
rank3   Clara  Mumbai   30        7       12           24
         Name address  Age  Newcol1  Newcol2  Revised_col
rank1    Amit  Mumbai   10        7        5           10
rank2  Nikita    Pune   20        7       10           20
rank3   Clara  Mumbai   30        7       12           24

         Name address  Age  Newcol1  Newcol2  Revised_col
rank1    Amit  Mumbai   10        7        5           10
rank2  Nikita    Pune   20        7       10           20
rank3   Clara  Mumbai   30        7       12           24

In [27]:
#deleting column 
del df["Newcol1"]

df

KeyError: 'Newcol1'

In [29]:
del df["Newcol2"]

In [33]:
df["Revised_Col"] = df["Revised_col"]
df
del df["Revised_col"]

KeyError: 'Revised_col'

In [35]:
df

         Name address  Age  Revised_Col
rank1    Amit  Mumbai   10           10
rank2  Nikita    Pune   20           20
rank3   Clara  Mumbai   30           24

In [38]:
df["Newcol2"]=[5,10,12]
print(df)
df=df.drop("rank1")
df=df.drop("Newcol2",axis=1)

df
#axis=0 --> rows (default)
#axis=1 --> columns

ValueError: Length of values does not match length of index

In [41]:
print(df)
df=df.drop("Revised_Col",axis=1)
df

         Name address  Age
rank2  Nikita    Pune   20
rank3   Clara  Mumbai   30

KeyError: "['Revised_Col'] not found in axis"

In [42]:
df

         Name address  Age
rank2  Nikita    Pune   20
rank3   Clara  Mumbai   30

In [45]:
type(df.Name)

pandas.core.series.Series

In [52]:
df.Name=="Nikita"
df.loc[["rank3","rank2"]]

         Name address  Age
rank3   Clara  Mumbai   30
rank2  Nikita    Pune   20

In [54]:
df=df.drop(df[(df.Name=="Nikita") | (df.Age<20)].index)
df

        Name address  Age
rank3  Clara  Mumbai   30

In [57]:
df.to_csv(r"C:\Users\Dell\imaricus python\sampledf.csv",index=True,header=True)

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\Dell\\imaricus python\\sampledf.csv'

In [59]:
df.to_excel("sample.xlsx",index=False,header= True)

FileCreateError: [Errno 13] Permission denied: 'sample.xlsx'

In [60]:
#reading df from file
df = pd.read_csv(r"C:\Users\Dell\imaricus python\sampledf.csv",index_col=0,header=0)
df

        Name address  Age
rank3  Clara  Mumbai   30

In [61]:
df =pd.read_excel("sample.xlsx",header=0)
df

    Name address  Age
0  Clara  Mumbai   30